@charset "utf-8";

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(imagens/background.png);
    margin: 0 auto;
    padding: 0;
    /* width: 100%; */

}

p {
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
figure {
    margin: 0;
    padding: 0;
}
 
img {
    width: 100%;
}

/*topo*/

header #topo {
    width: 100%;
}


#topoFlex {
    /* display: flex; */
    justify-content: space-around;
    margin-bottom: 8%;
    border-bottom: solid 1px;
    background-color: #F2F2F2;
    text-align: center;
    width: 100%;
}

h1 img {
    margin-top: 5px;
    width: 85px;
}

nav {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    padding-left: 1%;
}

nav a:link,
nav a:visited {
    text-decoration: solid;
    color: black;
    transition: background-color 1s;
    padding: 1%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1%; */

}


nav a:hover,
nav a:focus {
    background-color: #D504D9;
    color: #000;
    transition: inherit;
    border-radius: 5%;
}

/*inicio/ entrada*/

#inicio {
    /* background-image: url(imagens/backgroundInicio480px.png); */
    width: 100%;
    min-width: 480px;
    min-height: 260px;
}

hr {
    height: 12px;
    width: 100%;
    background-color: #7eebeb;
}

/*o que fazemos*/

h1 {
    /* margin-left: 55%; */
    text-align: center;
}

#oqueFazemos,
#comoFaz {
    text-align: center;
}

.flexComoFaz, #oqueFazemos{
z-index: 1000;
opacity: 1;
}

.fundo{
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: #000 0px 0px 6px;
  margin: 5%;
  padding: 3%;
}
 

/* #comoFaz{
    margin-right: 55%;
    padding: 4%;
} */

 

.imagemCodigo img {
  display: none;
}

#metodologia {
    position: relative;
    /* flex-direction: row; */
    /* display: flex; */
}

/* .flexComoFaz {
    display: flex; 
}*/

/* .flexComoFaz p{
  margin-right: 8%;
  margin-left: 10%;
} */ 

/* Projetos */

#projetos{
    background-color: #7eebeb;
    width: 100%;
    height: 50px;
    margin-top: 5%;    
    margin-bottom: 5%;
    padding: 1%;
}

* {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }

 .modal-content a:hover{
    color: #f1f1f1;

 }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* footer */

.rodape {
    background-color: #7eebeb;
    /* color: #7f7f80; */
    text-align: center;
    width: 100%;
}

.rodape p {
    font-size: 14px;
}

.rodape aside {
    margin: 25px;
}

.rodape img {
    margin-left: 5px;
    margin-right: 5px;
 
}

.rodape-conteudo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.rodape-conteudo ul {
    list-style: none;
}

#logo-rodape {
    min-width: 146px;
    width: 150px;
    margin-top: 42px;
    margin-left: 10px;
}

.menu-rodape {
    text-decoration: none;
    color: #7eebeb;
}

 

.menu-rodape a:hover {
    color: #000;

}

.redes img {
    min-width: 35px;
    width: 35px;
}
 
.redes ul {
    display: flex;
    text-align: center;
}
.redes li {
    width: 15%;
    padding: 3%;
}

.assinatura {
    color: #000;
    background-color: #7eebeb;
    text-align: center;
    height: 72px;
    /* padding: 1%; */
}

.assinatura p {
    padding-top: 2%;
}

/* Nossos clientes */

.nossosClientes {
    background-color: #7eebeb;
    /* width: 100%;
    height: 190px; */
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    border: #7eebeb solid 20px;
}

.Clientes {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.Clientes img {
    width: 150px;
    height: 150px;
    border-radius: 48%;
    margin: 1%;
}


/* Accordion */
.accordion {
    background-color: #c073c2;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    opacity: 0.9;
  }
  
  .active, .accordion:hover {
    background-color: #4a71a5;
  }
  
  .accordion:after {
    content: '\002B';
    color: #F2F2F2;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    opacity: 0.9;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    opacity: 0.9;
  }

  /* .accordionDiv{
    margin-left: 45%;
  } */
/* Nossa Equipe */

.nossaEquipe {
    background-color: #7eebeb;
    /* width: 100%;
    height: 190px; */
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    border: #7eebeb solid 20px;
}



.fotoEquipe img {
    width: 150px;
    /* height: 150px; */
    border-radius: 48%;
    margin: 1%;
}

/* Contato */

.conteudo-info{
    background-color: #4a71a5;
    width: 100%;
    min-height: 720px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    padding: 3%;
    margin: auto 0;
    margin-bottom: 30px;
     /* border-radius: 15px;
    border: white solid 2px;  */
}

#form-contato input, textarea{
    padding: 14px 20px;
    min-width: 440px;
}
input, textarea{
    width: 100%;
    /* background-color: #4CAF50; */
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=text], select {
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
  }

  #limpar, #enviar{
    background-color: #c073c2;

  }

/* #form-contato a:link, */
#form-con a:visited {
    background-color: #c073c2;
    text-decoration: solid;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

 

#form-contato a:hover,
#form-con a:focus {
    background-color: #c073c2;
    color: #000;
    /* transition: inherit; */
    border-radius: 5%;

}

#form-contato input{
    width: 100%;
}

.formulario{
    width: 400px;
}

@media (min-width: 700px)  {
.modal-content {
    width: 100%;
}
p{
  font-size: 1.5em;
}

h3{
  font-size: 1.7em;
}
h2{
  font-size: 2em;
}

.fotoEquipe img, .Clientes img{
  margin-left: 50px;
}

.conteudo-info{
  justify-content: center;
  text-align: center;
}

}



@media (min-width: 900px)  {
   
  p{
    font-size: 1.5em;
  }
  
  h3{
    font-size: 1.7em;
  }
  h2{
    font-size: 2em;
  }
  
  .fotoEquipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topoFlex {
  display: flex;
}

.Clientes{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .fotoEquipe img, .Clientes img{
  margin-left: 90px;
} */

.conteudo-info{
  justify-content: center;
  text-align: center;
}

.imagemCodigo img{
  display: block;
  border-radius: 15px;
  width: 100%;
  min-width: 200px;   
  max-width: 520px;
  /* margin-top: 20px; */
  opacity: 1.0;
}
.flexComoFaz{
  display: flex;
  margin: 2%;
}

}


@media (min-width: 1200px)  {
    .fotoEquipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topoFlex {
  display: flex;
}


.Clientes{
    display: flex;
    justify-content: center;
    align-items: center;
}



}